{% extends "layout.html" %}

{% block main %}

    <table class="table" id="sheet_table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Year</th>
                    <th scope="col">Accomodation Type</th>
                </tr>
            </thead>

            <tbody>

                {% for student in students %}
                    <tr>
                        <td>{{ student[0] }}</td>
                        <td>{{ student[1] }}</td>
                        <td>{{ student[2] }}</td>
                        <td>{{ student[3] }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>


{% endblock %}
